$body-background: #d9d9d9;
$container-background: #d9d9d9;
$text-color: #333333;
$border-color: #cccccc;
$tag-background: #f3f3f3;
$tag-border: #e0e0e0;
$tag-hover-background: #eaeaea;

// Global Styles
body {
  background-color: $body-background;

  color: $text-color;
  line-height: 1.5;
}

// Container
.resume-container {
  background-color: $body-background;
  padding: 20px;
  width: 100%;
}

.resume-content {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  background-color: $container-background;
  padding: 30px;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 30px;
  }
}

.section-title {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  font-size: 2.5em; /* Adjust the font size as needed */
  position: relative;
  margin-bottom: 35px;
  margin-top:15px;
}

.section-title::after {
  content: '';
  flex-grow: 1; /* Allow the line to take up remaining space */
  height: 1.5px;
  background: #000; /* Color of the line */
  margin-left: 10px; /* Space between text and line */
}

// About Section
.about-section {
  flex: 3;
  font-family: 'Poppins', sans-serif!important;

  .about-text {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: $text-color;
  }

  .highlight {
    font-weight: 600;
  }
}

// Skills Section
.skills-section {
  flex: 2;

  .skill-category {
    margin-bottom: 25px;

    .category-title {
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 3px 0;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    .category-underline {
      height: 2px;
      background-color: #333;
      width: 100%;
      margin-bottom: 15px;
    }

    .skill-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 10px;
    }

    .skill-tag {
      display: inline-block;
      background: #D9D9D9;
      color: #1F1F1F;
      padding: 4px 8px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      border: 2px solid #1F1F1F;
      margin: 2px;
      white-space: nowrap;

      &:hover {
        background-color: $tag-hover-background;
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .resume-content {
    padding: 20px;
  }

  .section-title {
    font-size: 24px;
  }

  .about-section .about-text {
    font-size: 14px;
  }

  .skills-section .skill-category .skill-tag {
    padding: 5px 10px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .resume-content {
    padding: 15px;
  }

  .section-title {
    font-size: 22px;
  }

  .about-section .about-text {
    font-size: 13px;
  }

  .skills-section .skill-category .skill-tag {
    padding: 4px 8px;
    font-size: 12px;
  }
}
