<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <title>Hero Section</title>
</head>
<body id="aboutMe">
<section class="aboutMe">
    <div class="title">
      <h5><b>ABOUT ME</b></h5>
    </div>
  <div class="intro">
    <p>
      My name is Anas Abdelati, a full-stack developer apprentice in the final year of my master's degree in software engineering at Paul Sabatier University in Toulouse.
      I created this portfolio website to enhance my front-end development skills and to help me discover new opportunities
    </p>
  </div>

  <div class="container mt-5 text-center">
    <div class="cv">
      <a href="assets/CV.pdf" target="_blank">
        <h5>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</h5>
      </a>
    </div>
  </div>
  <img src="assets/separatorBlack%201.png" class="seperator">
</section>

<section class="skills">
  <div class="title">
    <h5><b>SKILLS</b></h5>
  </div>
  <section class="technos-section">
    <div class="tech-item">
      <img src="assets/icons/iconeSpring.svg" alt="Spring">
      <p>Spring / Spring Boot</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-angular.svg" alt="Angular">
      <p>Angular</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-html.svg" alt="HTML">
      <p>HTML</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-sass.svg" alt="CSS/SASS">
      <p>CSS / SASS</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-vue-js.svg" alt="Vue.js">
      <p>Vue.js</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-docker.svg" alt="Docker">
      <p>Docker</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/icons8-python.svg" alt="Python">
      <p>Python</p>
    </div>
    <div class="tech-item">
      <img src="assets/icons/sql-server.png" alt="SQL">
      <p>SQL</p>
    </div>
    <div class="last-row">
      <div class="tech-item">
        <img src="assets/icons/api.png" alt="REST APIs">
        <p>REST APIs</p>
      </div>
      <div class="tech-item">
        <img src="assets/icons/devops.png" alt="CI/CD Pipelines">
        <p>CI/CD Pipelines</p>
      </div>
    </div>
  </section>
  <img src="assets/separatorBlack%201.png" class="seperator">
</section>
</body>
</html>
