body {
  background: #D9D9D9;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 50px 0;
  position: relative;
  align-items: flex-start; /* Align content to the top */
  justify-content: center; /* Keep it centered horizontally */
  min-height: 80vh; /* Adjust this value to move it further up */
}

/* General Title Styling */
.title {
  display: flex;
  align-items: center;
  font-size: 1.5em; /* Adjust the font size as needed */
  margin: 20px 0;
  position: relative;
}

.title::after {
  content: '';
  flex-grow: 1; /* Allow the line to take up remaining space */
  height: 2px;
  background: #000; /* Color of the line */
  margin-left: 10px; /* Space between text and line */
}

/* Left section (About Me) */
.about-me {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  padding-right: 100px;
  transform: translateX(-70%);
}

.intro {
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  color: #1F1F1F;
  font-weight: bold;
}

.intro h2 {
  font-size: 1.8em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.1em;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.intro .keywords {
  color: #1F1F1F;
  font-weight: bold;
}

.cv {
  margin-top: 15px;
}

.cv a {
  color: inherit;
  text-decoration: none;
}

/* Skills Section */
.skills {
  width: 450px; /* Make it wider */
  text-align: left;
  position: absolute;
  right: -150px; /* Adjust to move it further right */
  top: 50px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #D9D9D9;
  color: #1F1F1F;
  padding: 15px;
  border-radius: 10px;
  width: 100%; /* Ensure the container adjusts to its parent's width */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.skills-category {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skills-category h4 {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #1F1F1F;
  padding-bottom: 5px;
  margin: 0 0 8px 0;
}

.skills-category span {
  display: inline-block;
  background: #D9D9D9;
  color: #1F1F1F;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #1F1F1F;
  margin: 2px;
  white-space: nowrap;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me, .skills {
    position: static;
    transform: none;
  }

  .about-me {
    margin-bottom: 50px;
  }

  .skills {
    margin: 0 auto;
    text-align: center;
  }
}
