@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes anime {
  100% {
    transform: translateY(20px);
    -webkit-transform:translateY(20px);
    -moz-transform:translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform:translateY(20px);
  }
}

@keyframes anime2 {
  100% {
    transform: translateY(20px);
    -webkit-transform:translateY(20px);
    -moz-transform:translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform:translateY(20px);
    box-shadow: 0 45px 10px -18px rgba(0,0,0,0.2) , 0 45px 16px -12px rgba(0,0,0,0.2);

  }
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1); /* Start and end scale */
  }
  50% {
    transform: scale(1.1); /* Middle scale */
  }
}

body {
  background: #D9D9D9;
  height: 100vh!important;
  display: flex;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}

.title {
  border: 5px solid #1F1F1F;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 6px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto -20px;
  max-width: 1100px;
  line-height: 2;
  font-size: 18px;
  font-family: 'Poppins', sans-serif!important;
}

img {
  margin-top: 20px;
  margin-bottom: 40px;
}

.technos-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px 40px; /* 20px vertical, 40px horizontal space between items */
  justify-items: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px; /* Optional: constrain the section width */
  margin: 0 auto; /* Center the section */
}

.tech-item {
  text-align: center;
  margin: 0;

}

.tech-item:hover {
  animation: wiggle 1s ease-in-out infinite alternate;
  -webkit-animation: wiggle 1s ease-in-out infinite alternate;
}

.tech-item img {
  padding: 5px;
  max-width: 80px; /* Adjust the size as needed */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Margin between the image and the text */
  animation: scaleAnimation 1s ease-in-out infinite alternate;
  -webkit-animation: scaleAnimation 1s ease-in-out infinite alternate;
}

.tech-item p {
  margin: 0;
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold to match the example */
}

.last-row {
  margin-left:20px;
  grid-column: 2 / span 2; /* Span 2 columns starting from the 2nd column */
  display: flex;
  justify-content: center;
  gap: 200px; /* Adjust the gap between the two items */
}

.cv{
  margin-top: 100px;
  margin-bottom: 60px;
}
.cv a {
  color: inherit;
  text-decoration: none;
}
.cv a:hover {
  text-decoration: none;
  color: inherit;
}
.cv h5 {
  margin: 0;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
  //box-shadow: 0 70px 12px -18px rgba(0,0,0,0.1), 0 70px 20px -12px rgba(0,0,0,0.1);
  //animation: anime2 1s ease-in-out infinite alternate;
  //-webkit-animation: anime2 1s ease-in-out infinite alternate;
}

