.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background: #D9D9D9;

}

.contact-me .title {
  border: 5px solid #1F1F1F;
  padding: 10px;
  width: 200px;
  margin: 0 auto 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me .subtitle {
  margin-bottom: 50px;
  font-size: 1rem;
  max-width: 600px;
}

.contact-me .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.contact-me .contact-form input,
.contact-me .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 5px solid transparent;
  border-left-color: #000;
  border-bottom-color: #000;
  font-size: 1rem;
  background: none;
  outline: none;
  box-sizing: border-box;
}

.contact-me .contact-form input::placeholder,
.contact-me .contact-form textarea::placeholder {
  color: #000;
  font-weight: bold;
}

.contact-me .contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-me .contact-form .form-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.contact-me .contact-form .form-separator .seperator {
  max-width: 100px; /* Adjust as needed */
}

.contact-me .contact-form .submit-btn {
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-me .contact-form .submit-btn:hover {
  color: #007bff;
  border-color: #007bff;
}
