
<body id="projects">
<div class="title"><h1>Projects.</h1></div>
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let project of projects">
        <img [src]="project.image" alt="Project Image">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
<!--        <a (click)="viewProject(project)" class="cta-btn">View My Project</a>-->

      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</body>
