@import '../../../styles/variables';

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background: $color-bg-light;
  font-family: $font-main;

  .title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    width: 100%;
    max-width: 600px;
    padding: 0 10px;
    margin-bottom: 25px;

    &::after {
      content: '';
      flex-grow: 1;
      height: 2px;
      background-color: currentColor;
      margin-left: 10px;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 5px solid transparent;
      border-left-color: $color-text-dark;
      border-bottom-color: $color-text-dark;
      font-size: 1rem;
      background: none;
      outline: none;
      box-sizing: border-box;

      &::placeholder {
        color: $color-text-dark;
      }
    }

    textarea {
      resize: none;
      height: 150px;
    }

    .submit-btn {
      background: none;
      border: none;
      border-bottom: 2px solid $color-text-dark;
      font-size: 1rem;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: $color-accent;
        border-color: $color-accent;
      }
    }
  }
}
